useDynLib(LibeRtAD, .registration = TRUE)
import(Rcpp)
importFrom(R6,R6Class)
importFrom(stats,D)
importFrom(stats,setNames)
export(ad_nm_expr_normalize)
export(ad_sparse_jacobian)
export(ad_tape_stats)
export(ad_tape_load)
export(ad_tape_reuse)
export(ad_tape_save)
export(sparse_jacobian)
export(ad_var)
export(autodiff)
export(autodiff_hessian)
export(backdiff)
export(backdiffCPP)
export(backdiffR)
export(Constant)
export(forwarddiff)
export(forwarddiffCPP)
export(newConstant)
export(newVariable)
export(reset_tape)
export(replay_tape_values_cpp)
export(reset_tape_grads_cpp)
export(tape_scalar_value_cpp)
export(symbolicD)
export(Variable)
S3method(abs,Variable)
S3method(cos,Variable)
S3method(exp,Variable)
S3method(log,Variable)
S3method(sin,Variable)
S3method(sqrt,Variable)
S3method("[",Variable)
S3method("+",Variable)
S3method("-",Variable)
S3method("*",Variable)
S3method("/",Variable)
S3method("^",Variable)
S3method("%*%",Constant)
S3method("%*%",Variable)
S3method("%*%",numeric)
S3method("!=",Variable)
S3method("<",Variable)
S3method("<=",Variable)
S3method("==",Variable)
S3method(">",Variable)
S3method(">=",Variable)
