useDynLib(LibeRtAD, .registration = TRUE)
importFrom(R6,R6Class)
importFrom(Rcpp,evalCpp)
export(ADModel)
export(ad_benchmark)
export(ad_benchmark_cases)
export(ad_checkpoint_probe)
export(ad_compile)
export(ad_engine_info)
export(ad_gauss_hermite)
export(ad_smolyak_gauss_hermite)
export(ad_ir)
export(ad_load_tape)
export(ad_supported)
export(libertad_gui)
export(libertad_workbench)
export(libertadWorkbenchOutput)
export(renderLibertadWorkbench)
S3method(print,libertad_ir)
S3method(print,ad_benchmark_result)
