useDynLib(LibeRtAD, .registration = TRUE)
importFrom(R6,R6Class)
importFrom(Rcpp,evalCpp)
export(ADModel)
export(ad_compile)
export(ad_engine_info)
export(ad_ir)
export(ad_supported)
S3method(print,libertad_ir)
